{% load static %}
<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Ednews</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">

    <!-- Font -->
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,600,700" rel="stylesheet">

    <!-- Stylesheets -->

    <link href="{% static 'homepage/plugin-frameworks/bootstrap.css' %}" rel="stylesheet">

    <link href="{% static 'homepage/fonts/ionicons.css' %}" rel="stylesheet">


    <link href="{% static 'homepage/common/styles.css' %}" rel="stylesheet">


</head>
<body>

<header>

    <!-- thanh menu -->
    <div class="bottom-menu">
        <div class="container">

            <a class="menu-nav-icon" data-menu="#main-menu" href="#"><i class="ion-navicon"></i></a>

            <ul class="main-menu" id="main-menu">
                <li><a href="{% url 'tin:getTrangChu' %}"><img src="https://img.icons8.com/doodle/96/000000/news.png"></a></li>
                {% for key, values in lt_base.items %}
                    <li class="drop-down"><a href="{% url 'tin:getTheLoai' key.tenKhongDau %}">{{ key.ten }}<i
                            class="ion-chevron-down"></i></a>
                        <ul class="drop-down-menu drop-down-inner">
                            {% for value in values %}
                                <li><a href="{% url 'tin:getLoaiTin' key.tenKhongDau value.tenKhongDau %}">{{ value.ten }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}

            </ul>
            <div class="clearfix"></div>
        </div><!-- container -->
    </div><!-- bottom-menu -->
</header>

<!-- START OF MAIN SLIDER -->
<section class="bg-primary p-0 pb-xs-20">
    <div class="container">
        <div class="row  ptb-10">
            <div class="col-md-8 col-lg-9"></div><!-- col-md-8 -->
            <div class="col-md-4 col-lg-3">
                <form class="abs-form mtb-10" action="{% url 'tin:search' %}" method="post">
                    {% csrf_token %}
                    <input type="text" placeholder="Search" name="search">
                    <button type="submit"><i class="ion-ios-search"></i></button>
                </form>
            </div><!-- col-md-4 -->
        </div><!-- row -->
    </div><!-- container -->
</section>
<!-- END OF MAIN SLIDER -->


<section class="ptb-30">
    <div class="container">
        <div class="row">

            {% block content %}

            {% endblock %}
            {#                cot phai#}
            <div class="col-md-12 col-lg-4">
                {% block cotphai1 %}
                {% endblock %}
                {% block cotphai2 %}
                {% endblock %}
            </div>
        </div>
    </div><!-- container -->
</section>


<footer class="bg-191 pos-relative color-ccc bg-primary pt-50">
    <div class="abs-tblr pt-50 z--1 text-center">
        <div class="h-80 pos-relative">
            <div class="bg-map abs-tblr opacty-1"></div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h5 class="f-title"><b>Tag</b></h5><br />
                <form action="{% url 'tin:search' %}" method="post">
                {% csrf_token %}
                {% for i in tag %}
                    <button type="submit" class="btn btn-primary" name="search" value="{{ i.nd }}">{{ i.nd|title }}
                        <span class="badge badge-light">{{ i.soLuong }}</span></button>
                {% endfor %}
                 </form>
            </div><!-- col-sm-2 -->

        </div><!-- row -->

        <div class="mt-20 brdr-ash-1 opacty-4"></div>

        <div class="text-center ptb-30">
            <div class="row">

                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <ul class="mtb-10 font-12 list-radial-35 list-li-mlr-3">
                        <li><a href="https://www.facebook.com/profile.php?id=100025442105275"><i class="ion-social-facebook"></i></a></li>
                        <li><a href="https://www.facebook.com/Dinhhanh0899/about?lst=100006453828919%3A100006923766750%3A1576317050"><i class="ion-social-instagram"></i></a></li>
                        <li><a href="https://www.facebook.com/hoangvan.hai.39"><i class="ion-social-google"></i></a></li>
                    </ul>
                </div><!-- col-sm-3 -->
            </div><!-- row -->
        </div><!-- text-center -->
    </div><!-- container -->


</footer>

<!-- SCIPTS -->

<script src="{% static 'homepage/plugin-frameworks/jquery-3.2.1.min.js' %}"></script>

<script src="{% static 'homepage/plugin-frameworks/tether.min.js' %}"></script>

<script src="{% static 'homepage/plugin-frameworks/bootstrap.js' %}"></script>

<script src="{% static 'homepage/common/scripts.js' %}"></script>

</body>
</html>